# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.vite/
*.local

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# Env
.env.local
.env.*.local
